<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">

    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
</head>
<body>
<a id="skip-to-content" href="#content">Skip to the content.</a>

<header class="page-header" role="banner">
    <h1 class="project-name"><a href="/">{{ site.title | default: site.github.repository_name }}</a></h1>
    <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
</header>

<main id="content" class="main-content" role="main">
    {{ content }}

    <footer class="site-footer">
        {% if page.url != "/" %}
        <h4><a href="/">← All posts</a></h4>
        {% endif %}
    </footer>
</main>
<div class="site-wide-footer">
    <div class="site-wide-footer__inner">
        <div class="site-wide-footer__left">
            <small>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</small>
        </div>
        <div class="site-wide-footer__right">
            <a class="logo-link" href="https://github.com/joklek/" aria-label="GitHub profile for joklek" target="_blank" rel="noopener noreferrer">
                <img src="{{ '/assets/logos/github.png' | relative_url }}" alt="GitHub logo">
            </a>
            <a class="logo-link" href="https://www.linkedin.com/in/joklek/" aria-label="LinkedIn profile of joklek" target="_blank" rel="noopener noreferrer">
                <img src="{{ '/assets/logos/linkedin.png' | relative_url }}" alt="LinkedIn logo">
            </a>
        </div>
    </div>
</div>
</body>
</html>
